<!DOCTYPE html>
<html lang=“en”>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Strobe Master</title>
</head>
<body>

<div class="container">
    <h2>Slaves</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">ip</th>
            <th scope="col">status</th>
            <th scope="col">wifi</th>
            <th scope="col">chrony</th>
        </tr>
        </thead>
        <tbody>
        {% for id, details in slaves %}
        <tr>
            <th scope="row">
                <a href="{{ url_for('slave_details_ui', slave_id=id) }}">
                    <h2>{{ id }}</h2>
                </a>
            </th>
            <td><span class="badge badge-light">{{ details['ip'] }}</span></td>

            {% if details['status'] == 'ACTIVE' %}
            <td><span class="badge badge-success">{{ _time(details['last_update']) }}</span></td>
            {% else %}
            <td><span class="badge badge-danger">{{ _time(details['last_update']) }}</span></td>
            {% endif %}

            <td>
                Signal level: {{ details['wifi']['Signal level'] }}
                <br>
                Link Quality: {{ details['wifi']['Link Quality'] }}
            </td>

            <td>
                System time: {{ details['chrony']['System time'] }}
                <br>
                Last probe (UTC): {{ details['chrony']['Ref time (UTC)'] }}
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <hr>

    <form action="/master/sequence/publish" method="post">
        <button type="submit" class="btn btn-info btn-lg">Publish</button>
    </form>

    <form action="/master/execution/start" method="post">
        <label for="seconds_from_now">Seconds from now:</label>
        <input type="number" id="seconds_from_now" name="seconds_from_now" value="10" required>

        <button type="submit" class="btn btn-primary btn-lg">Start in</button>
    </form>

    <form action="/master/execution/start" method="post">
        <label for="start_at">Start Time:</label>
        <input type="time" id="start_at" name="start_at" required>

        <button type="submit" class="btn btn-primary btn-lg">Start at</button>
    </form>

    {% if 'start_time' in active_sequence %}
    <hr>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            {{ _time(active_sequence['start_time']) }}
        </div>
    </div>
    <hr>
    {% endif %}

    <form action="/master/execution/stop" method="post">

        <button type="submit" class="btn btn-danger btn-lg">Stop</button>
    </form>


</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>